/***** Common *****/
h1 {
	color: #7d97ad;
	font-size: 24px;
	text-transform: capitalize;
}

hr {
	background-color: #7d97ad;
	height: 2px;
	margin-top: 1px;
	margin-bottom: 16px;
}

* {
	box-sizing: border-box;
}

#ulogo {
	width: 70px;
	height: 70px;
}

#name {
	font-size: 42px;
	text-transform: uppercase;
  margin: 0;
	font-family: Helvetica;
	font-weight: 100;
	color: #2d3c49;
}

#namecomment {
	color: #2d3c49;
	font-size: 16px;
	text-transform: uppercase;
	margin: 0;
	font-family: Helvetica;
}

/* main */
.main-image {
	width: 100%;
	float: right;
	padding-bottom: 10px;
}

/* Featured Work */
.featured-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.featured-item {
	color: #2d3c49;
	text-align: center;
	margin: 8px 4px 8px 4px;
}

.featured-title {
	margin-top: 2px;
	margin-bottom: 2px;
	color: #2d3c49;
	font-size: 24px;
	text-transform: uppercase;
}

.work-description {
	margin-top: 0;
	margin-bottom: 0;
}

/*** standard desktop >=768 ***/
@media screen and (min-width: 768px) {
    .header-icon {
		display: inline-block;
	}

	.header-titles {
		display: inline-block;
		text-align: right;
		float: right;
	}

	.featured-image {
		width: 360px;
	}
}

/*** high resolution desktop >=960 ***/
@media screen and (min-width: 960px) {
	body{
		width: 960px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	.featured-image {
		width: 280px;
	}

}

/*** standard tablet >360 <768 ***/
@media screen and  (min-width:361px) and (max-width: 767px) {
    body {
        padding: 4px;
    }

	.header-icon {
		display: inline-block;
	}

	.header-titles {
		display: inline-block;
		text-align: right;
		float: right;
	}

	.featured-image {
		width: 360px;
	}
}

/*** standard handheld ***/
@media screen and (max-width: 360px) {
	body {
		padding: 2px;
	}

  .header-icon {
		display: block;
	}

	.header-titles {
		display: block;
		text-align: left;
	}

	.featured-image {
		width: 360px;
	}
}
