body {
	font-family: 'Carme';
	font-size: 12px;
	color: #2d3c49;
}
/***** Header *****/

/* Udacity Reviewer: I might've completely botched the use of these id selectors.
   It seems to work, but please let me know if I've mis-used them here - thx */
#logo {
	width: 72px;
	height: 72px;
}

#header-name {
	font-size: 42px;
	text-transform: uppercase;
  margin: 0;
	font-weight: 100;
	color: #2d3c49;
}

#header-comment {
	color: #2d3c49; /* per requirement pdf template */
	font-size: 16px;
	text-transform: uppercase;
	margin: 0;
}

/* main */

.main-image {
	width: 100%;
	float: right;
	padding-bottom: 10px;
}

/***** Featured Work *****/

hr {
	height: 2px;
	margin-top: 16px;
	margin-bottom: 16px;
	background-color: #7d97ad;
}

h1 {              /* "Featured Work" */
	color: #7d97ad; /* per requirement pdf template */
	font-size: 24px;
	text-transform: capitalize;
}

.featured-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.featured-item {
	color: #2d3c49; /* per requirement pdf template */
	text-align: center;
	font-size: 12px;
}

.featured-title {
	text-transform: uppercase;
	margin-top: 2px;
	margin-bottom: 2px;
	color: #2d3c49;
	font-size: 24px;

}

.work-description {
	margin-top: 0;
	margin-bottom: 0;
}

/***** standard desktop >=768 *****/

/* Udacity Reviewer: Is a max-width a necessity here? */
@media screen and (min-width: 768px) {
  .header-icon {
		display: inline-block;
		/* NOTE TO REVIEWER: changing this display to flex causes my icons to float
		                     in a vertical line to left of screen - what am I missing?
												 Could it be a browser issue? */
	}

	.header-info {
		display: inline-block;
		text-align: right;
		float: right;
	}

	.featured-image {
		width: 360px;
	}
}

/*** high resolution desktop >=960 ***/

/* Udacity Reviewer: Is a max-width a necessity here? */
@media screen and (min-width: 960px) {
	body{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 960px;
	}

	.featured-image {
		width: 280px;
	}

}

/*** standard tablet >360 <768 ***/

@media screen and  (min-width:361px) and (max-width: 767px) {
    body {
        padding: 4px;
    }

	.header-icon {
		display: inline-block;
	}

	.header-info {
		display: inline-block;
		text-align: right;
		float: right;
	}

	.featured-image {
		width: 360px;
	}
}

/*** standard handheld ***/

@media screen and (max-width: 360px) {
	  body {
		    padding: 2px;
	}

  .header-icon {
		display: block;
	}

	.header-info {
		display: block;
		text-align: left;
	}

	.featured-image {
		width: 200px;
	}
}
